$theme-colors: (
  "primary":	#451971,
  "danger":		#f44336
);

$font-family-sans-serif :	'Varela Round', sans-serif;
$font-family-monospace  :		'Cutive Mono', monospace;
$card-border-width      :			.075em;
$border-radius          :      1.5em;
$border-radius-lg       :      1.5em;
$border-radius-sm       :			 1.5em;

@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: 		map-get($theme-colors, "primary");
$light-color:			map-get($theme-colors, "light");
$secondary-color:		map-get($theme-colors, "secondary");
$danger-color:			map-get($theme-colors, "danger");
$danger-dark: 			darken($danger-color, 10%);

$spacer-2:				map-get($map: $spacers, $key: 2);

$flim: 					rgba(0,0,0,0.22);
/* ###################################################################################### */

body.border * {
	border: 1px solid red;
	
	&::-webkit-scrollbar {
		width: .8rem;
		border-right: 1px solid $secondary-color;
		//TODO: only enable is js for page-slider is loaded
	}
	&::-webkit-scrollbar-track {
		background-color: $light-color;
	}
	&::-webkit-scrollbar-thumb {
		background: $secondary-color;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6); 
		border-radius: $border-radius;
	}
	&::-webkit-scrollbar-button {
		height: 10px;
		border-right: 1px solid $secondary-color;
	}
}
.bg-flim {
	background-color: $flim;
}

.page {
	height: 100vh;
}

@include media-breakpoint-down(sm) {
	#page-slider {
		display: none;
	}
}

#page-slider {
	position: fixed;
	top: 42%;
	transform: translateY(-25%);
	left: 0;
	height: 45%;
	padding: .5rem 2rem 0 0;

	&>.handle {
		$item-size: 		2rem;
		$item-size-small: 	1.4rem;
		$item-transiton: 	300ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
		$num-display-item: 	3;
		$num-items: 		6;
		$item-details: (
			1 : (
				"text" : "Awesomeness",
				"color" : red),
			2 : (
				"text" : "Skills", 
				"color": green),
			3 : (
				"text" : "Achievements", 
				"color": blue),
			4 : (
				"text" : "Projects", 
				"color": yellow),
			5 : (
				"text" : "hi", 
				"color": orange),
			6 : (
				"text" : "hello", 
				"color": lightblue)
		);

		@extend .p-2, .text-center, .bg-secondary, .border, .border-dark;
		width: 2rem;
		opacity: .65;
		z-index: 15;
		border-radius: .15rem 3rem 3rem .15rem / .15rem 7rem 7rem .15rem;
		box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.6);
		transition: 450ms cubic-bezier(1, -0.116, 0.724, 1.368);

		.items {
			margin-left: -$item-size / 1.4;
			transition: $item-transiton;
			height: 100%;

			a {
				@extend .m-2, .border, .bg-light, .border-light;
				cursor: default;
				height: .35rem;
				width: $item-size / 1.5;
				display: block;
				border-width: 2px !important;
				border-radius: .35rem;
				transition: $item-transiton;
			}
			:nth-child(1n + #{$num-display-item + 1}) {
				width: 0;
				height: 0;
				border-width: 0 !important;
				transition: $item-transiton;
			}
			.label {
				position: absolute;			
				top: 2.64rem;
				opacity: 0;
				transition: $item-transiton;
				transition-delay: 150ms;
			
				&::before {
					content: "";
					left: 1.5rem;
					position: absolute;
					border: 0.25rem solid $light-color;
					border-top-left-radius: inherit;
					border-bottom-left-radius: 0.625em;
					box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.35);
				}
				&::after {
					@extend .px-3;
					content: map-get(map-get($item-details, 1), "text");
					position: absolute;
					height: 2rem;
					top: -.8rem;
					left: 1.89rem;
					min-width: 8rem;
					line-height: 2rem;
					background: $light-color;
					border-radius: 2.8em 2rem 2rem 2.8rem;
					box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
				}
			}
			@for $i from 1 to $num-items + 1 {
				:nth-child(#{$i}):hover~.label::after {
					content: map-get(map-get($item-details, $i), "text");
				}
			}
		}

		&:hover, &:active,  {
			width: 3.53rem;
			margin-left: $spacer-2;
			opacity: 1;
			background: $light-color !important;
			border-radius: 2 * $item-size;
			box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.6);
			transition: $item-transiton;
			transition-duration: 400ms;

			.items {
				margin-left: 0;
				transition: $item-transiton;

				a {
					@extend .my-3;
					border: 4px solid $light-color !important;
					height: $item-size-small;
					width: $item-size-small;
					border-radius: $item-size-small;;
					transition: $item-transiton;
					color: transparent;
				
					&:hover~.label {
						opacity: 1;
						transition: $item-transiton;
					}
				}
				@for $i from 2 to $num-items + 1 {
					:nth-child(#{$i}):hover~.label {
						top:  2.446rem * $i;
						transition: $item-transiton;
					}
				}
				@for $i from 1 to $num-items + 1 {
					:nth-child(#{$i}) {
						font-size: 0;
						background-color: map-get(map-get($item-details, $i), "color") !important;
						transition: $item-transiton;
					}
				}
			}
		}
	}
}

#banner {
	@extend .text-light, .p-0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	

	@include media-breakpoint-down(lg) {
		.bg-flim {
			padding: map-get($spacers, 5) !important;
		}
	}

	@include media-breakpoint-down(sm) {
		.bg-flim {
			padding: map-get($spacers, 4) !important;
		}
	}
	.bg-flim {
		height: inherit;
		width: inherit;
		padding: map-get($spacers, 55);
	}
	
	.content {
		@extend .col-md, .offset-lg-1, .col-lg-8, .mt-md-0, .mt-5, .text-center, .text-md-left;
	}

	#logo-bar {
		@extend .col-12, .text-center, .mb-4, .mb-lg-5;

		@include media-breakpoint-between(md, xl) {
			.logo {
				height: 6rem !important;
				width: 6rem !important;
			}
		}
		.logo {
			@extend .rounded-circle, .p-3, .mb-3;
			box-shadow: 0 0 1em $flim;
			background-color: $flim;
			height: 5rem;
			width: 5rem;
		}
	}

	#profile {
		@extend .col-md, .col-lg-3, .text-center;

		@include media-breakpoint-up(md) {
			img {
				height: 10rem !important;
				width: 10rem !important;
			}
		}
		img {
			@extend .img-fluid;
			height: 8rem;
			width: 8rem;
			border-radius: 60px 40px 20px 40px / 60px 140px 20px 140px;
			box-shadow: 1px 2px 3px $flim;
			transition: 600ms  cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		img:hover {
			transform: scale(1.12);
			border-radius: 5px;
			box-shadow: 4px 5px 10px $flim;
			transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}

	.indicator-base {
		text-align: center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 75px;

		.indicator {
			@extend .p-2;
			position: absolute;
			width: 2.4rem;
			height: inherit;
			background-color: rgba(255, 255, 255, 0.6);
			border-radius: 20px 20px 0px 0px;

			.bubble-base {
				position: absolute;
				height: 12px;
				width: 12px;
				bottom: 0.5rem;
				left: 50%;
				margin-left: -5.4px;
				background-color:rgba(255, 255, 255, 0.6);
				border: 1px solid rgba(160, 160, 160, 0.6);
				border-radius: .8em;
			}
			.bubble-end {
				border: 2px solid white;
				display: inline-block;
				border-radius: 2px;
			}
		}
		.indicator:hover {
			background: white;
			transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);

			.bubble-end {
				border-color: rgba(0, 0, 0, 0.5);
				transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
			.bubble-base {
				transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
				border-color: 1px solid rgba(0, 0, 0, 0.6);
				background-color: gray;
			}
		}
	}
}
/* END */

// LIB
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Cutive+Mono|Gugi|Righteous|Varela+Round');
