$theme-colors: (
  "primary":	#451971,
  "danger":		#f44336
);

$font-family-sans-serif :		'Varela Round', sans-serif;
$font-family-monospace  :		'Cutive Mono', monospace;
$card-border-width      :		.075em;
$border-radius          :      	1.5em;
$border-radius-lg       :      	1.5em;
$border-radius-sm       :	 	1.5em;

@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: 		map-get($theme-colors, "primary");
$light-color:			map-get($theme-colors, "light");
$secondary-color:		map-get($theme-colors, "secondary");
$danger-color:			map-get($theme-colors, "danger");
$dark-color:			map-get($theme-colors, "dark");
$danger-dark: 			darken($danger-color, 10%);

$spacer-1:				map-get($map: $spacers, $key: 1);
$spacer-2:				map-get($map: $spacers, $key: 2);

$flim: 					rgba(0,0,0,0.22);
/* ###################################################################################### */

body  {
	&.border * {
		border: 1px solid red;
	}
	&::-webkit-scrollbar {
		width: .8rem;
		border-right: 1px solid $secondary-color;
	}
	&::-webkit-scrollbar-track {
		background-color: $light-color;
	}
	&::-webkit-scrollbar-thumb {
		background: $secondary-color;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6); 
		border-radius: $border-radius;
	}
	&::-webkit-scrollbar-button {
		min-height: 10px;
		border-right: 1px solid $secondary-color;
	}
}
.bg-flim {
	background-color: $flim;
}

.page {
	@extend .bg-light, .container-fluid;
	min-height: 100vh;
	box-shadow: 0px 0px 5px rgba(#000, 0.5);
}

$item-details: (
	1 : (
		"text" : "Github", 
		"color": #323030),
	2 : (
		"text" : "Linkedin", 
		"color": #006EAB),
	3 : (
		"text" : "Instagram",
		"color" : #F74151),
	4 : (
		"text" : "Facebook", 
		"color": #465EA9),
	5 : (
		"text" : "Twitter", 
		"color": #0095E8),
	6 : (
		"text" : "Google Plus", 
		"color": #F54541),
);
$num-items: length($item-details);

#social {	
	position: fixed;
	top: 14%;
	right: 1rem;

	$item-size: 		2.4rem;
	$item-size-sm: 		2rem;
	$item-size-lg: 		2.8rem ;
	$trigger-size:		$item-size + 2 * $spacer-2;
	$trigger-size-sm:	$item-size-sm + 2 * $spacer-2;
	$trigger-size-lg:	$item-size-lg + 2 * $spacer-2;
	$item-transiton: 	300ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 50ms;

	@include media-breakpoint-up(lg) {
		&>.trigger{
			min-width: $trigger-size-lg ;
			min-height: $trigger-size-lg;
		}
	}
	.title {
		position: absolute;
		top: 0;
		right: 0;
		width: max-content;
		padding: 1rem;
		z-index: -1;
		color: white;
		background: linear-gradient(-95deg, #41414103 10%, rgba($primary-color, .6) 80%);
		opacity: 0;
		text-shadow: 1px 2px 2px rgba(0,0,0,0.42);
		border-radius: $border-radius 0 0 $border-radius;
	}
	&>.trigger {
		padding: 1rem;
		padding-right: 2rem;
		opacity: .82;
		margin-right: -4rem;
		margin-top: -.5rem;
		transition: $item-transiton;
		
		.items {
			@extend .text-center, .bg-light, .border, .border-dark;
			border-radius: $item-size-lg;
			box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
			transition: 450ms cubic-bezier(1, -0.116, 0.724, 1.368);

			.item {
				@extend .m-0, .p-0, .d-block;
				height: 0.01px;
				border: 0px solid red;
				width: $item-size-lg;
				border-radius: $item-size-lg;			
				transition: $item-transiton;
				
				i {
					font-size: 0;
					line-height: 22pt;
					transition: 300ms;
					height: 100%;
					vertical-align: middle;
					@include media-breakpoint-down(lg) {
						&::after {
							height: $item-size - $spacer-1 !important;
							width: $item-size - $spacer-1 !important;
						}
					}

					&::after {
						content: '';
						position: absolute;
						height: $item-size-lg - $spacer-1;
						width: $item-size-lg - $spacer-1;
						left: 27px;
						margin-top: -5.5px;
						opacity: 0;
						border: 2px solid $primary-color;
						border-radius: 100%;
						transition: 50ms;
					}
				}
			}

			.label {
				position: absolute;			
				top: 2.64rem;
				opacity: 0;
				transition: $item-transiton;

				&::after {
					@extend .px-3, .bg-light, .border ,.border-secondary, .text-secondary;
					content: "Awesomeness";
					position: absolute;
					min-height: 2rem;
					min-width: 8.5rem;
					top: -1rem;
					right: .4rem;
					line-height: 2rem;
					border-radius: 2em 2.8rem 2.8rem 2rem;
					box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
				}
			}

			.item.fac {
				@extend .border, .m-2, .border-light;
				height: $item-size;
				width: $item-size;
				border-width: 2px !important;
				i {
					@extend .p-1, .p-sm-15;
					color: #212121;
					font-size: 16pt;
					line-height: 16pt;
				}
			}
			@for $i from 1 to $num-items + 1 {
				:nth-child(#{$i}).item i::after {
					border-color: map-get(map-get($item-details, $i), "color") !important;
				}
			}
			@for $i from 1 to $num-items + 1 {
				:nth-child(#{$i}).item:hover~.label::after {
					content: map-get(map-get($item-details, $i), "text");
				}
			}
		}

		&:hover, &:active, &.show {
			opacity: 1;
			margin: 0;

			.items {
				border-radius: 2 * $item-size;
				box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);

				@include media-breakpoint-down(lg) {
					.item {
						height: $item-size !important;
						width: $item-size !important;
						i {
							font-size: 14pt !important;
							line-height: 16pt !important;
						}
					}
				}

				.item {
					@extend .m-2, .border, .border-light;
					height: $item-size-lg;
					width: $item-size-lg;
					border-width: 2px !important;

					i {
						@extend .p-1, .p-sm-15;
						color: #f1f1f1;
						font-size: 16pt;
						line-height: 22pt;
						&::after{
							opacity: 1;
							transition: 300ms 200ms;
						}
					}
					&:hover {
						i::after {
							transform: scale(1.5);
							opacity: 0;
							transition: 350ms;
						}
						&~.label {
							opacity: .86;
							transition-delay: 300ms;
						}
					}
				}
				@for $i from 2 to $num-items + 1 {
					@include media-breakpoint-down(lg) {
						:nth-child(#{$i}).item:hover~.label {
							top: 2.8535rem * $i !important;
						}
					}
					:nth-child(#{$i}).item:hover~.label {
						top: 3.1985rem * $i;
						transition-delay: 0ms;
					}
				}
				@for $i from 1 to $num-items + 1 {
					:nth-child(#{$i}).item {
						$color : map-get(map-get($item-details, $i), "color");
						background-color: $color;
						&:hover {
							background-color: $light-color ;
							border-color: $color !important;
							box-shadow: 0 1px 5px $color;
							transition: 350ms;
							i {
								color: $color !important;
								transition: 350ms;
							}
						}						
					}
				}
			}
			&~.title{
				opacity: 1;
				top: -2.2rem;
				right: 5.6rem;
			}
		}

	}
}

#banner {
	@extend .text-light, .p-0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	.content {
		@extend .p-3, .p-sm-4, .p-md-5, .p-lg-55, .text-center, .container;
		height: 100%;

		@include media-breakpoint-down(xl) {
			#logo {
				height: 5rem !important;
				width: 5rem !important;
			}
		}

		#logo {
			@extend .my-2, .my-sm-3, .my-md-4, .rounded-circle;
			background-color: transparent;
			height: 6rem;
			width: 6rem;
		}
		.title-bar {
			.title {
				@extend .mb-0;
				font-size: 78pt;
				line-height: 78pt;
				font-variant-caps: all-petite-caps;
				font-weight: bolder;
				letter-spacing: 16pt;
			}
			p {
				@extend .mb-4;
				font-size: 28pt;
				margin-top: -.75rem; 
				font-variant-caps: all-petite-caps;
			}
		}
		.social-bar {
			.item {
				@extend .mx-05, .mx-sm-1;
				display: inline-block;
				height: 3rem;
				width: 3rem;
				border-radius: 3rem;
				border: 2px solid $light-color;
				
				a {
					background: transparent;
					text-decoration: none;
					color: $light-color;
					font-size: 18pt;
					line-height: 3rem;
					
					&::before {
						content: "";
						position: absolute;
						display: block;
						height: 3rem;
						width: 3rem;
						margin-top: -2px;
						margin-left: -2px;
						border: 2px solid $light-color;
						border-radius: 100%;
						opacity: 1;
						transform: scale(0);
					}
				}
			}
			@for $i from 1 to $num-items + 1 {
				:nth-child(#{$i}).item:hover {
					$temp-color : map-get(map-get($item-details, $i), "color");
					border-color: $temp-color  !important;
					box-shadow: 0 0 5px $temp-color;
					background-color: rgba($light-color, .4); 
					transition: 350ms;
					a {
						color: $temp-color !important;
						&::before {
							border-color: $temp-color  !important;
							transform: scale(1.57);
							transition: 500ms;
							opacity: 0;
						}
					}
				}
			}
		}

		/*
		
		#profile {
			@extend .col-md, .col-lg-3, .text-center;

			@include media-breakpoint-up(md) {
				img {
					min-height: 10rem !important;
					min-width: 10rem !important;
				}
			}
			img {
				@extend .img-fluid;
				min-height: 8rem;
				min-width: 8rem;
				border-radius: 60px 40px 20px 40px / 60px 140px 20px 140px;
				box-shadow: 1px 2px 3px $flim;
				transition: 600ms  cubic-bezier(0.175, 0.885, 0.32, 1.275);
				background-color: cadetblue;
			}
			img:hover {
				transform: scale(1.12);
				border-radius: 5px;
				box-shadow: 4px 5px 10px $flim;
				transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
		}

		.indicator-base {
			text-align: center;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 75px;

			.indicator {
				@extend .p-2;
				position: absolute;
				width: 2.4rem;
				height: inherit;
				background-color: rgba(255, 255, 255, 0.6);
				border-radius: 20px 20px 0px 0px;

				.bubble-base {
					position: absolute;
					height: 12px;
					width: 12px;
					bottom: 0.5rem;
					left: 50%;
					margin-left: -5.4px;
					background-color:rgba(255, 255, 255, 0.6);
					border: 1px solid rgba(160, 160, 160, 0.6);
					border-radius: .8em;
				}
				.bubble-end {
					border: 2px solid white;
					display: inline-block;
					border-radius: 2px;
				}
			}
			.indicator:hover {
				background: white;
				transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);

				.bubble-end {
					border-color: rgba(0, 0, 0, 0.5);
					transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
				}
				.bubble-base {
					transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
					border-color: 1px solid rgba(0, 0, 0, 0.6);
					background-color: gray;
				}
			}
		}
	*/
	}
}
/* END */

// LIB
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Cutive+Mono|Gugi|Righteous|Varela+Round');
